<h1>Cats API project</h1>
<nav id="primary_nav_wrap">
<ul>
    <li class="current-menu-item"><a href="../">Home</a></li>
    <li><a href="/api/cats/species/cheetah">cheetah species</a></li>
    <li><a href="/api/cats/species/puma">puma species </a></li>
    <li><a href="/api/cats/species/jaguar">jaguar species </a></li>
    <li><a href="/api/cats/species/leopard">leopard species</a></li>
</ul>
</nav>
<hr class="nav-line"/>