<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(newCat){ %>
        <h1>cat has been updated successfully </h1>
        <% } else{%>
            <h1>error happened try to add again </h1>
<% } %>
</body>
</html>